extension/.idea/Content.iml
__pycache__/CaptchaGenerator.cpython-312.pyc
__pycache__/captchaSolverServer.cpython-312.pyc
extension/.idea/inspectionProfiles/profiles_settings.xml
extension/.idea/misc.xml
extension/.idea/modules.xml
extension/h.pdf
theModelWeights
